<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bancaria</title>
    <link href="css/bootstrap.css" rel="stylesheet">
    <script src="js/bootstrap.css"></script>
    <script src="https://kit.fontawesome.com/302a1eb3e6.js" crossorigin="anonymous"></script>
</head>
<header class="sticky-top">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Bancaria</a>
        </div>
    </nav>
</header>
<body>
<br/>
<div class="container">
    <h1>Agencias Registradas</h1>
    <div class="container-fluid" th:if="${agencias != null and !agencias.empty}">
        <table class="table table-bordered table-hover">
            <tr class="table-light">
                <th>Nombre de la Sucursal</th>
                <th>Dirección de la Sucursal</th>
            </tr>
            <tr th:each="agencia : ${agencias}">
                <td th:text="${agencia.getNombre_punto()}">Nombre Punto</td>
                <td th:text="${agencia.getDireccion()}">Direccion</td>
            </tr>
        </table>
    </div>
    <div class="container-fluid" th:if="${agencias == null or agencias.empty}">
        <p>No hay registros</p>
    </div>
</div>
</body>
<footer class="fixed-bottom">
    <p style="text-align: center">© 2021 - Universidad El Bosque - Gabriel Blanco; Juan Pablo Araque</p>
</footer>
</html>