<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bancaria</title>
    <link href="css/bootstrap.css" rel="stylesheet">
    <script src="js/bootstrap.css"></script>
    <script src="https://kit.fontawesome.com/302a1eb3e6.js" crossorigin="anonymous"></script>
</head>
<header class="sticky-top">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Bancaria</a>
        </div>
    </nav>
</header>
<body>
   <div class="container-fluid">
       <form>
           <div th:if="${agencias != null and !agencias.empty}">
               <label for="agenciesList">Buscar empleados por la agencia: </label>
               <select class="form-select" name="agenciesList" id="agenciesList">
                   <option th:each="agencia: ${agencias}" th:value="${agencia.getId()}" th:text="${agencia.getNombre_punto()}">Ver nombre</option>
               </select>
           </div>
           <div th:if="${agencias == null or agencias.empty}">
               <p>Por el momento no hay agencias disponibles. Intente mas tarde</p>
           </div>
       </form>
       <div class="container" th:if="${empleados != null and !empleados.empty}">
           <table class="table table-bordered table-hover">
           <tr class="table-light">
               <th>Identificación</th>
               <th>Nombres</th>
               <th>Apellidos</th>
               <th>Ciudad de Residencia</th>
               <th>Cargo</th>
               <th>Salario</th>
               <th>Tipo de Contrato</th>
               <th>Código de Empleado</th>
           </tr>
           <tr th:each="empleado : ${empleados}">
               <td th:text="${empleado.getNumID()}">TipoID</td>
               <td th:text="${empleado.getNombres()}">Nombres</td>
               <td th:text="${empleado.getApellidos()}">Apellidos</td>
               <td th:text="${empleado.getCiudad_residencia}">Ciudad_Residencia</td>
               <td th:text="${empleado.getCargo()}">Cargo</td>
               <td th:text="${empleado.getSalario()}">Salario</td>
               <td th:text="${empleado.getTipo_contrato()}">Tipo_Contrato</td>
               <td th:text="${empleado.getCod_empleado()}">Codigo_Empleado</td>
           </tr>
           </table>
       </div>
       <div class="container" th:if="${empleados == null or empleados.empty}">
            <p>No hay empleados registrados en esta sucursal</p>
       </div>
   </div>
</body>
<footer class="fixed-bottom">
    <p style="text-align: center">© 2021 - Universidad El Bosque - Gabriel Blanco; Juan Pablo Araque</p>
</footer>
</html>