<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bancaria</title>
    <link href="css/bootstrap.css" rel="stylesheet">
    <script src="js/bootstrap.css"></script>
    <script src="https://kit.fontawesome.com/302a1eb3e6.js" crossorigin="anonymous"></script>
</head>
<body>
    <br/>
    <div class="container">
        <h1>Agencias Registradas</h1>
        <div class="container-fluid" th:if="${agencias != null and !agencias.empty}">
            <table class="table table-bordered table-hover">
                <tr class="table-light">
                    <th>Nombre de la Sucursal</th>
                    <th>Dirección de la Sucursal</th>
                </tr>
                <tr th:each="agencia : ${agencias}">
                    <td th:text="${agencia.nombre_punto}">Nombre Punto</td>
                    <td th:text="${agencia.direccion}">Direccion</td>
                </tr>
            </table>
        </div>
        <div class="container-fluid" th:if="${agencias == null or agencias.empty}">
            <p>No hay registros</p>
        </div>
    </div>
</body>
</html>