<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bancaria</title>
    <link href="css/bootstrap.css" rel="stylesheet">
    <script src="js/bootstrap.css"></script>
    <script src="https://kit.fontawesome.com/302a1eb3e6.js" crossorigin="anonymous"></script>
</head>
<header class="sticky-top">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Bancaria</a>
        </div>
    </nav>
</header>
<body>
   <div class="container-fluid">
       <form>
           <div th:if="${agencias != null and !agencias.empty}">
               <label for="agenciesList">Buscar empleados por la agencia: </label>
               <select class="form-select" name="agenciesList" id="agenciesList" th:each="agencia: ${agencias}">
                   <td th:text="${agencia.nombre_punto}">Ver nombre</td>
               </select>
           </div>
           <div th:if="${agencias == null or agencias.empty}">
               <p>Por el momento no hay agencias disponibles. Intente mas tarde</p>
           </div>
       </form>
   </div>
</body>
<footer class="fixed-bottom">
    <p style="text-align: center">© 2021 - Universidad El Bosque - Gabriel Blanco; Juan Pablo Araque</p>
</footer>
</html>