<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Bancaria</title>
    <link href="css/bootstrap.css" rel="stylesheet">
    <script src="js/bootstrap.css"></script>
    <script src="https://kit.fontawesome.com/302a1eb3e6.js" crossorigin="anonymous"></script>
</head>
<header class="sticky-top">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Bancaria</a>
        </div>
    </nav>
</header>
<body>
<div class="container">
    <form th:action="@{/saveAgency}" th:method="post" th:object="${agencia}">
        <div class="form-group">
            <label for="nombre_punto">Sucursal</label>
            <input id="nombre_punto" name="nombre_punto" type="text" class="form-control" placeholder="Ej. Caobos Salazar">
        </div>
        <div class="form-group">
            <label for="direccion">Dirección</label>
            <input id="direccion" name="direccion" type="text" class="form-control" placeholder="Ej. Carrera 14 # 149-26 Local 2202">
        </div>
        <input id="submit" type="submit" class="btn btn-primary" value="Agregar Agencia">
    </form>
</div>
</body>
<footer class="fixed-bottom">
    <p style="text-align: center">© 2021 - Universidad El Bosque - Gabriel Blanco; Juan Pablo Araque</p>
</footer>
</html>