<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bancaria</title>
    <link href="css/bootstrap.css" rel="stylesheet">
    <script src="js/bootstrap.css"></script>
    <script src="https://kit.fontawesome.com/302a1eb3e6.js" crossorigin="anonymous"></script>
</head>
<header class="sticky-top">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Bancaria</a>
        </div>
    </nav>
</header>
<body>
    <div class="container">
        <h1 style="text-align: center">Registrar Vacantes</h1>
        <div class="container">
            <form th:action="@{/saveContract}" th:method="post" th:object="${contrato}">
                <div class="form-control">
                    <select
                </div>
            </form>
        </div>
    </div>
</body>
</html>